div{ 
    padding: 50px;
    margin: 150px;
    width: auto;

    border-top-width: 10px;
    border-top-color: green;
    border-top-style: dotted;

    border-right: 10px dashed blue;
    border-left: 10px double black;
    border-bottom: 10px solid red;
   
}